.dashboard-bar-chart {

  .ct-chart {
    padding-top: 1em;
    height: $widget-height;
    background-color: $widget-background-color;
    border-radius: $widget-border-radius;
  }

  .ct-label {
    color: $default-text-color;
    font-size: 1.15rem;
  }

  .ct-bar {
    stroke-width: 1.25em;
  }

  .ct-series-a .ct-bar {
    stroke: $my-purple-color;
  }

  .ct-series-b .ct-bar {
    stroke: $my-green-color;
  }
}
